[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = ">=4.2b1"
django = "==2.1.2"
"psycopg2-binary" = "*"
dj-database-url = "*"
requests = "*"

[dev-packages]
"flake8" = "==3.5.0"

[requires]
python_version = "3.6"

[scripts]
lint = "python -m flake8"
server = "python manage.py runserver"
