attrs==18.2.0
backcall==0.1.0
bandit==1.5.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
decorator==4.3.0
dj-database-url==0.5.0
Django==2.1.5
dodgy==0.1.9
dparse==0.4.1
flake8==3.6.0
flake8-bandit==1.0.2
flake8-bugbear==18.8.0
flake8-import-order==0.18
flake8-polyfill==1.0.2
flake8-string-format==0.2.3
flake8-tidy-imports==1.1.0
flake8-todo==0.7
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
mccabe==0.6.1
packaging==18.0
parso==0.3.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
pyparsing==2.3.0
pytz==2018.7
PyYAML==3.13
requests==2.20.1
safety==1.8.4
six==1.11.0
smmap2==2.0.5
stevedore==1.30.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
pyyaml>=4.2b1
