{% extends 'base.html' %}


{% block content %}

  <table class="table table-striped table-dark">

    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Subject</th>
        <th scope="col">Teacher</th>
        <th scope="col">Room</th>
      </tr>
    </thead>

    <tbody>
      {% for lesson in student.short_timetable %}
      <tr>
        <th scope="row">{{ lesson.time }}</th>
        <td>{{ lesson.subject }}</td>
        <td>{{ lesson.teacher }}</td>
        <td>{{ lesson.room }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
