{% extends 'base.html' %}


{% block content %}

<div class="cd-schedule">
  <div class="timeline">
    <ul>
      <li><span>09:00</span></li>
      <li><span>10:15</span></li>
      <li><span>10:30</span></li>
      <li><span>11:40</span></li>
      <li><span>11:45</span></li>
      <li><span>12:00</span></li>
      <li><span>12:35</span></li>
      <li><span>13:00</span></li>
      <li><span>13:05</span></li>
      <li><span>13:30</span></li>
      <li><span>13:50</span></li>
      <li><span>14:40</span></li>
      <li><span>14:50</span></li>
      <li><span>15:00</span></li>
      <li><span>16:00</span></li>
    </ul>
  </div>

  <div class="events">
    <ul>
      {% for day, lessons in student.timetable.items %}
        <li class="events-group">
          <div class="top-info"><span>{{ day }}</span></div>
          <ul>
            {% for lesson in lessons %}
              <li class="single-event" data-start="{{ lesson.start }}" data-end="{{ lesson.end }}">
                <a href="#0">
                  <em class="event-name">{{ lesson.subject }} - {{ lesson.room }}</em>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="event-modal">
    <header class="header">
      <div class="content">
        <span class="event-date"></span>
        <h3 class="event-name"></h3>
      </div>

      <div class="header-bg"></div>
    </header>

    <div class="body">
      <div class="event-info"></div>
      <div class="body-bg"></div>
    </div>

    <a href="#0" class="close">Close</a>
  </div>
</div>

{% endblock %}
